#main-title {
    text-align: center;
}

.search {
    width: 50%;
    margin: 0 auto;
    
}

.amiibo-character-card {
    text-align: center;
}

.amiibo-character-image {
    max-height: 200px;
    max-width: 400px;
}