body {
    
}

#main-title {
    text-align: center;
    color: black;
    font-family: 'Baumans', cursive;
    font-weight: bold;
    font-size: 56pt;
}

.title {
    text-align: center;
    margin-top :20px;
    margin-bottom: 20px;
    
}

.title-image {
    max-width: 75%;
    border-style: solid;
    border-color: #e4000f;
    border-width: 3px;
    border-radius: 20px;
}

#account-submit {
    background: #e4000f;
    color: white;
}

#account-submit:focus {
    box-shadow: none;
}

#account-input:focus {
    border-color: black;
    box-shadow: none;
}

#account-submit:hover {
    /* background: white;
    color: #e4000f;
    border-color: #e4000f; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.account-submit-container {
    text-align: center;
}

.search {
    width: 50%;
    margin: 0 auto;
    
}

#results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.amiibo-character-card {
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    border-radius: 5px;
    padding: 7px;
    min-width: 300px;
    max-width: 400px;
    background: #eeeeee;
}

.amiibo-character-card:hover {
    
    /* background: #e4000f;
    border-color: #e4000f; */
    /* color: white; */
    background: #bbbbbb;
    border-color: #bbbbbb;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.amiibo-character-card-a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 100%;
}

.amiibo-character-name {
    font-family: 'Press Start 2P', cursive;
    font-size: 12pt;
    margin-bottom: 10px;
}

.amiibo-series-title {
    font-weight: bold;
    margin-right: 10px;
}

.brief-info {
    margin-top: 20px;
}

.amiibo-character-card a {
    text-decoration: none;
    color: black;
}

.amiibo-character-image {
    max-height: 300px;
    max-width: 400px;
    margin-top: 10px;
}

.amiibo-character-release-dates {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.release-date-container {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

.release-date-title {
    font-weight: bold;
    margin-right: 5px;
}

.additional-info {
    border-style: none;
    margin-top: 10px;
}

.additional-info-title {
    font-size: 16pt;
    margin-top: -15px;
    margin-bottom: 5px;
}

.release-dates-title {
    font-style: italic;
}

.no-results {
    margin-top: 30px;
    font-size: 18pt;
}